@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background-image: url("../../public/bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  font-family: url("../../public/font/NeueMontreal/PPNeueMontreal-Book.otf");
}

body {
  font-family: url("../../public/font/NeueMontreal/PPNeueMontreal-Book.otf");
  background-color: black;
}
body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-dark::-webkit-scrollbar {
        display: block;
        background-color: black;
        border-radius: 10px;
        width: 3px;
    }
    .scrollbar-dark::-webkit-scrollbar-thumb {
        background-color: rgb(80, 80, 80); /* Example color for the thumb */
        border-radius: 5px; /* Example border radius for the thumb */
    }
    .scrollbar-light::-webkit-scrollbar {
        display: block;
        background-color: black;
        border-radius: 10px;
        width: 5px;
    }
    .scrollbar-light::-webkit-scrollbar-thumb {
        background-color: mediumspringgreen; /* Example color for the thumb */
        border-radius: 5px; /* Example border radius for the thumb */
    }
}